.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

.letter-spacing-5 {
    letter-spacing: 5px;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.w-90px {
    width: 90px !important;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 285px;
}

.admin-content-inside {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 200px;
}

.footer {
    height: 285px;
    margin-top: -285px;
}

.nav-link-footer {
    padding-top: 2px;
    padding-right: 16px;
    padding-left: 0px;
    padding-bottom: 2px;
    text-decoration: none;
    color: black;
}

.w-90px {
    width: 90px
}

.table {
    border-collapse: separate;
    border-spacing: 0 20px;
}

.footer-hr {
    width: 60px;
}

.panel-hr {
    width: 120px;
}

.form-hr {
    width: 350px;
}

.news-container {

    /*background: transparent;*/
    /*background: url('../images/c.jpg') no-repeat center center;*/
    /*background-size: cover;*/
    /*width: 100%; !*may not need*!*/
    border-radius: 0; /* override rounded corners if applicable*/
}

.news-text {
    color: lightgray;
    text-shadow: #444 0 1px 1px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-check-input:disabled {
    opacity: 1;
}


.fontsize-3 {
    font-size: 2.5rem;
}

.carousel-caption {

    top: 100px;
}

#gmapcanvas img {
    max-height: none;
    max-width: none !important;
    background: none !important;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

@font-face {
    font-family: DreamyLand;
    src: url(../fonts/dreamy_land_medium.ttf) format('truetype');
}

@font-face {
    font-family: Futura;
    src: url(../fonts/futura_pt_medium_italic.ttf) format('truetype');
}

.font-dreamyland {
    font-family: 'DreamyLand', sans-serif;
    font-stretch: extra-expanded !important;
}

.font-futura {
    font-family: 'Futura', sans-serif;
}